@use 'sass:map';
@import './global';
@import '../../shared/styles/variables/index';

// Set --brand-* theme CSS variables.
@each $themeName in $brand-theme-names {
  .brand-#{$themeName} {
    --brand-theme: $themeName;

    @each $schemeName in ('base', 'primary', 'secondary', 'accessory') {
      @each $key, $value in map.get($brand-themes, $themeName, $schemeName) {
        --brand-#{$schemeName}-#{$key}: #{$value};
      }
    }

    background-color: var(--brand-base-bg);
    border-color: var(--brand-base-border);
    color: var(--brand-base-border);
  }
}

.app {
  width: 100%;
  height: 100vh;

  // optional style, removes the white background when the DevTools is open
  min-height: 68rem;
  display: block;
  margin: 0 auto;
  background-color: brand-color('light-grey-1');
  padding: 0.4px;
}
