@import '../../../../shared/styles/variables/index';

.container {
  background-color: brand-color('white');
  border-radius: $border-radius-lg;
  border: 1px solid brand-color('light-grey-1');
  margin: 0 auto;
  min-height: 67.4rem;
  max-height: 67.4rem;
  max-width: 107.9rem;
  z-index: 0;
  position: relative;
}

.wrapper {
  position: relative;
  z-index: -1;
}
